<div class="checkout-billing-address">
    <div class="opc-block-shipping-information">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Billing Address:'">Billing Address:</span>
        </div>
    </div>
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping'}"></input>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping'}">
            <span data-bind="i18n: 'This address is also my billing address'"></span>
        </label>
    </div>
    <fieldset class="fieldset">
        <!-- ko template: 'Pixelmechanics_Checkout/billing-address/list' --><!-- /ko -->
        <!-- ko template: 'Pixelmechanics_Checkout/billing-address/form' --><!-- /ko -->
    </fieldset>

</div>
