<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="pixelmechanics_checkout_layout_processor" type="Pixelmechanics\Checkout\Plugin\Block\LayoutProcessor" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\RequireJs\Config\File\Collector\Aggregated">
        <plugin name="requirejsConfigPlugin" type="Pixelmechanics\Checkout\Plugin\RequireJs\AfterFiles" sortOrder="100"/>
    </type>
</config>